{% extends 'AppBundle::mainframe.html.twig' %}

{% block title %}68K - Fédérons la communauté numérique du Haut-Rhin{% endblock %}

{% macro form() %}

<div class="card white darken-1 hoverable" id="form">
    <div class="card-content blue-grey-text">
        <span class="card-title">Enregistrez-vous</span>
        <p>La plateforme en ligne <strong>68K</strong> sera ouverte au courant du <strong>premier semestre 2016</strong>.</p>
        <p>Inscrivez-vous dès maintenant pour être informé du lancement de <strong>68K</strong>.</p>
    </div>
    <div class="card-action">

        {% if app.session.flashbag.has('error') %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                 <div class="card-panel red darken-2">
                    <span class="white-text">{{ flashMessage }}</span>
                </div>
            {% endfor %}
            <br />
        {% endif %}

        <div class="row">
            <form class="col s12" action="/#form" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" name="email" value="{{email|default('')}}">
                        <label for="email">Email (gardé secret)</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="email" type="text" class="validate" name="nom" value="{{nom|default('')}}">
                        <label for="email">Nom (publié !)</label>
                    </div>
                    <div class="input-field col s12">
                        <a class="waves-effect waves-light btn-large" style="background-color: #3B5998" onclick="document.forms[0].submit();"><i class="material-icons right">check_circle</i>Hoplà !</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endmacro %}

{% macro done() %}
    <div class="card white darken-1 hoverable" id="form">
        <div class="card-content blue-grey-text">
            <span class="card-title">Merci de votre inscription !!</span>
            <div class="card-action">
                <p>La plateforme en ligne <strong>68K</strong> sera ouverte au courant du <strong>premier semestre 2016</strong>.</p>
                <p>Nous vous contacterons par email à l'ouverture de la plateforme, pour vous permettre de créer votre profil.</p>
            </div>

            <span class="card-title">Aidez-nous à grandir en passant le mot</span>
            <div class="card-action">
                <p><a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ "Je viens de m'inscrire à 68k, le groupement des acteurs numériques du Haut-Rhin ! @68k_io"|url_encode() }}" data-size="large">Tweet</a></p>
                <p>&nbsp;</p>
                <div class="fb-page" data-href="https://www.facebook.com/reseau68k" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/reseau68k"><a href="https://www.facebook.com/reseau68k">68K</a></blockquote></div></div>
            </div>
        </div>
    </div>
    {# Twitter #}
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>

    {# Facebook #}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{% endmacro %}

{% import _self as partials %}

{% block main %}
<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col s12 m10 l9" style="margin: 0 auto; float: none">

            {% if done|default(false) %}
                {{ partials.done() }}
            {% else %}
                {{ partials.form() }}
            {% endif %}

        </div>
    </div>
</div>

<p>&nbsp;</p>

<div class="container white-text">
    <p><strong>68K est plus qu'un réseau social en ligne</strong>.</p>
    <p>En plus de regrouper les acteurs de l'économie numérique du Haut-Rhin, <strong>68K</strong> propose à ses inscrits de la visibilité en ligne, des services d'échange de mission et de recherche de prestataire, l'organisation de meetups réguliers pour animer la scène locale, et bientôt un espace de coworking.</p>
    <p>Convaincus que la gratuité et la transparence sont indispensables pour favoriser les échanges, <strong>les données de profil des membres de 68K seront publiques</strong> (en dehors de l'adresse email, publiée sur opt-in uniquement).</p>
</div>

<p>&nbsp;</p>
{% endblock %}

